<%# heading %>
<h1>
	Welcome to Little Floofs
</h1>

<h2>
	Feel safe surrounded by little bundles of floofs!
</h2>
<%# body %>

<p>
	<%= link_to "Sign Up", "#"%> </br>
	<%= link_to "Login", "#"%> </br>
	<%= link_to "Help", "#"%> </br>
</p>
