<%# heading %>
<div class="jumbotron">
<div class="container-fluid">
	<h1>
		Welcome to Little Floofs
	</h1>
	<p>
		Feel safe surrounded by little bundles of floofs!
	</p>
	</br>
	<p>
	<%= link_to "Sign Up", "#", class: "btn btn-success btn-lg" %> </br></br> 
	<%= link_to "Login", "#", class: "btn btn-success btn-lg" %> </br></br> 
	<%= link_to "Help", "#", class: "btn btn-success btn-lg" %> </br></br> 
</p>
</div>
</div>
<%# body %>